.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #c2cd8c;
}

.todo-list {
  background: rgb(181, 180, 180);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
}